*{margin:0;padding:0;outline:0;}
body{font-family:arial;font-size:15px;line-height:18px;color:#000;background:url(watercolor.png)repeat fixed 0 0 #fff;}

.templete{width:980px;margin:0 auto;}
.clear{overflow:hidden;}


input[type="text"],input[type="email"],input[type="password"]{
   width:200px;
   padding:8px;
   margin-bottom:5px;
   height:10px;
   border:1px solid;
   border-radius:3px;

}
input[type="submit"]{
       background:#FF6B10;
       padding:5px 10px;
       font-size:18px;
       color:#fff;
       cursor:pointer;
}
input[type="submit"]:hover{
    color:red;
    background:#fff;
}

textarea {
    width:300px;
    height:110px;
    padding:5px;
    margin-bottom:10px;
}





.headersection{

    background:#FF6B10;
    color:#fff;
    text-align:center;

}


.logo{
    width:430px;
    float:left;
}
.logo img{
    float:left;
   padding-left:20px;
   padding-bottom:15px;
   padding-top:15px;
    margin-right:10px;
    width:100px;
}
.logo h2{
    margin-top:30px;
    font-size:40px;
    margin-bottom:20px;
    text-shadow:2px 2px 0px #666;
}
.logo p{}

.social{
    width:260px;
    padding-top:25px;
    float:right;
}
.social img{
    width:50px;
    margin:5px;
    margin-right:5px;
}


.navsection{
    
    background:#D7BA6E;
    min-height:40px;

}

.navsection ul{
    margin:0;
    padding:0;
    list-style:none;
}

.navsection ul li{
    float:left;
    display:block;
    border-left:1px solid #FF6B10;
    border-right:1px solid #FF6B10;
    position:relative;
}

.navsection ul li:first-child{ border-left:0px solid;}
.navsection ul li:last-child{ border-right:0px solid;}
.navsection ul li a{
    text-decoration:none;
    display:block;
    padding:5px 25px;
    border:0px solid black;
    margin:5px;
    font-size:20px;
    color:#fff;
    font-weight:bold;
    
}


.navsection ul li a:hover{
    color:black;
    background:#E8D5AD;
    border:0px solid black;
    
}

.navsection ul li ul{
    position:absolute;
    left:-9999999px;
    z-index:99999px;
}
.navsection ul li:hover ul {
  left:0px;
}

.navsection ul li ul li{
    background:#FF6B10;
    border-bottom:1px solid #D7BA6E;
}
.navsection ul li ul li a{}














#active{
    background:#D7BA6E;
    color:black;
}

.slidersection{
    box-shadow:0px 8px 10px -2px #FF6B10;
    margin-bottom:10px;
}

.slidersection img{
    width:980px;
    height:180px;
    border:0px solid;
    
    
}














.containsection{
    background:#fff;
    border:1px solid;
    padding:7px;
    width:962px;
}

.maincontain{
    width:630px;
    background:#E8D5AD;
    float:left;
    padding:10px;
    margin-bottom:10px;
    border:1px solid #FF6B10;
}






.about{}
.about h2{
    margin-top:5px;
    padding:10px;
    border-bottom:1px solid;
    margin-bottom:10px;
    font-size:30px;
    color:#FF6B10;
}
.about p{
    font-size:16px;
    line-height:20px;
    text-align:justify;
    margin-bottom:20px;
}
.about img{
    float:left;
    width:300px;
    height:200px;
    margin-right:10px;
    padding:5px;
    border:2px solid;
    background:#D7BA6E;
}

.relatedpost{}
.relatedpost a{}
.relatedpost h2{
    background:#FF6B10;
    color:black;
}
.relatedpost img{
    height:100px;
    margin-bottom:10px;
    width:170px;
    margin-left:10px;
}
.relatedpost img:hover{
    opacity:0.5;
}


.samepost h2{
    margin-top:5px;
    padding:10px;
    border-bottom:1px solid;
    margin-bottom:10px;
    font-size:30px;
    color:#FF6B10;
    
}
.samepost img{
    float:left;
    width:200px;
    height:110px;
    margin-right:10px;
    padding:5px;
    border:2px solid;
    background:#D7BA6E;
}
.samepost p{
    font-size:16px;
    line-height:20px;
    text-align:justify;
    margin-bottom:20px;
    
}

.readmore{
    float:right;
    margin-top:-12px;
    margin-bottom:2px;
    
}
.readmore a{
    text-decoration:none;
    background:#fff;
    display:block;
    padding:7px;
    font-size:16px;
    coolor:#333;
    border:2px solid;
    border-radius:5px;
    color:#FF6B10;
}

.readmore a:hover{
    color:#555;
    background:#D7BA6E;
    color:#FF6B10;
}


.sideber{
    width:275px;
    background:#E8D5AD;
    float:right;
   padding:10px;
    margin-bottom:10px;
    border:1px solid #FF6B10;
}

.samesideber {
    margin-bottom:20px;
}
.samesideber h2{
      background:#FF6B10;
      color:black;
      padding:8px;
      margin-bottom:5px;
      border:2px solid;
}

.samesideber ul{
    margin:0;
    padding:0;
    list-style:none;
}
.samesideber ul li{
    background:;
    font-size:16px;
    padding:5px 8px;
    border-bottom:1px dashed #FF6B10;
    padding-left:0;
}

.samesideber ul li:last-child{
    border-bottom:0px dashed #FF6B10;
}
.samesideber ul li a{
    text-decoration:none;
    color:#FF6B10
}
.samesideber ul li a:hover{
    color:red;
}



.samesideber p{
    margin-bottom:10px;
 

}

.popular{}
.popular a{}
.popular img{
    width:120px;
    height:60px;
    float:left;
    margin-left:5px;
    border-radius:50%;
    border:1px solid;
    padding:5px;
}
.popular h3{
    margin-bottom:10px;
    border-bottom:dotted #FF6B10 ;
    margin-top:5px;
    
}
.popular p{
    margin-left:5px;
}













.footersection {
    height:70px;
    background:#FF6B10;
    text-align:center;
    width:980px;
}

.footermenu{
    margin-top:20px;
    
}
.footermenu ul{
    margin:0;
    padding:0;
    list-style:none;
    margin-left:350px;
}
.footermenu ul li{
    float:left;
    display:block;
    

}
.footermenu ul li a{
    text-decoration:none;
    color:#E8D5AD;
    font-size:16px;
    padding:8px;
    
}
.footersection p{}

.fixedicon{
    position:fixed;left:0;top:200px;width:60px;
}
.fixedicon img{
width:50px;
}



.items{
    height:250px;
    width:400px;
    margin:0px auto;
    position:relative;
    overflow:hidden;
}
.items img{
    height:250px;
    width:400px;
    
}

.shadow{
    background:rgba(0,0,0,0.6);
    height:250px;
    width:400px;
    position:absolute;
    top:-100%;
    transition:0.6s;
}
.items:hover .shadow{
      top:0;
}

.myitem{
    line-height:25px;
}

.shadow1 h2 p{
   width:40px;
   height:20px;
   padding:10px;

}

.shadow1 h2{
    color:#fff;
    margin-left:105px;
    margin-top:120px;
   
    
}
.shadow1 p{
    color:#ddd;
    margin-left:105px;
    margin-top:5px;
   
}

.maincontain img{
    height:150px;
    width:200px;
    transition:5s;
    padding:3px;
}

.maincontain img:hover{
    transform:rotate(360deg);
    transform:skew(30deg);
    transform:scale(1.1);
}
